html {
    background-image: url(./Images/toronto_horizon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; 
}

h1, h2, h3{
    color: gold;
    font-family: "rockwell";
    text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

a {
    color: chartreuse;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
