html {
    margin: 0;
}

body {
    height: 100%;
    background: linear-gradient(320deg, #eb92be, #ffde21, #63c9b4);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background: rgba(60, 40, 120, 0.6);
    border-radius: 4px;
    text-align: center;
    padding: 4px;
    margin: 12px;
}

h1, h2, h3, label{
    color: gold;
    font-family: "rockwell";
    margin-block-end: 8px;
    margin-block-start: 8px;
    text-shadow: 
    -1px -1px 0 #000,  
     2px -1px 0 #000,
    -1px  2px 0 #000,
     2px  2px 0 #000;
}

h2, ul {
    margin-block-start: 8px;  
}

ul{
    padding-inline-start: 24px;
}

aside, section{
    background-color:rgba(60, 40, 120, 0.6);
    margin: 12px;
    width: fit-content;
    min-width: 200px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;
}

a {
    color: chartreuse;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

#red{
    position: absolute;
    animation: fall 2s linear infinite;
    z-index: -1;
}

@keyframes fall {
    0% {
        top: 0;
        width: 80px;
        height: 80px
    }
    100% {
        top: 98%;
        width: 10px;
        height: 10px;
    }
}