
body {
    background-color: rgb(16, 108, 230);
}

table{
    background-color: lightcoral;
    width: 152px;
    margin-top: 8px;
    text-align: center;
}

td, tr {
    border: 1px solid;
    background-color: white;
    height: 22px;
}

.dieButton {
    padding: 0%;
}

.scoreBox{
    background-color: white;
    width: 32%;
}

.scoreBtnU, .scoreBtnL {
    background-color: rgb(255, 234, 237);
    border-color: lightcoral;
    font-size: 14px;
    width: 100%;
}

.scoreBtnU:disabled, .scoreBtnL:disabled{
    color: black;
    background-color: white;
    border-style: none;
}

#rlab {
    font-size: large;
    font-family: "rockwell";
    color: whitesmoke;
    margin-left: 4px;
}

#rbtn {
    font-size: large;
    font-family: "rockwell";
    background-color: white;
    border-color: white;
    margin-top: 16px;
    margin-left: 132px;
}